<p id="notice"><%= notice %></p>

<h1> Current Projects </h1>

<table>
  <thead>
    <tr>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @portfolios.each do |portfolio|%>

        <div>

        <%= image_tag portfolio.thumb_image %>
        </div>


        <p><%= portfolio.title %></p>
        <p><%  portfolio.subtitle %></p>
        <p><%  portfolio.content %></p>




        <p><%= portfolio.sketch %></p>
        <p><%= link_to 'Show', portfolio %></p>
        <p><% link_to 'Edit', edit_portfolio_path(portfolio) %></p>
        <p><% link_to 'Destroy', portfolio, method: :delete, data: { confirm: 'Are you sure?' } %></p>

    <% end %>

  </tbody>
</table>

<br>

<%= link_to 'New Project', new_portfolio_path %>
