<p id="notice"><%= notice %></p>
<div   class = "pagestxt">
<p>
  <strong>Title:</strong>
  <%= @portfolio.title %>
</p>

<p>
  <strong></strong>
  <% @portfolio.subtitle %>
</p>

<p>

  <strong></strong>
  <%= @portfolio.content %>
  <strong></strong>
  

</div>










<div class = "main_image" >
  <%= image_tag @portfolio.main_image %>




</div>


<% link_to 'Edit', edit_portfolio_path(@portfolio) %>

<div   class = "pagestxt">
<%= link_to 'Back', portfolios_path %>
</div>
