<p id="notice"><%= notice %></p>
<div   class = "pagestxt">
<p>
  <strong>Title:</strong>
  <%= @portfolio.title %>
</p>

<p>
  <strong></strong>
  <% @portfolio.subtitle %>
</p>

<p>

  <strong></strong>
  <%= @portfolio.content %>
</div>



<script src="/js/three.js"></script>
<script src="/js/orbitControls.js"></script>
<script src="/js/main.js"></script>
<script src="/js/main-lib.js"></script>
<script src="/js/GLTFLoader.js"></script>







<div class = "main_image" >
  <%= image_tag @portfolio.main_image %>

</div>

<%# <% end %>

<% link_to 'Edit', edit_portfolio_path(@portfolio) %>

<div   class = "pagestxt">
<%= link_to 'Back', portfolios_path %>
</div>
