<% if @portfolio.sketch? %>
  <script src="/js/three.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/main-lib.js"></script>
<% end %>


<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @portfolio.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @portfolio.subtitle %>
</p>

<p>
  <strong>Content:</strong>
  <%= @portfolio.content %>


</p>




  <%= image_tag @portfolio.main_image %>
<%# <% end %>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
