<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @portfolio.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @portfolio.subtitle %>
</p>

<p>
  <strong>Content:</strong>
  <%= @portfolio.content %>

  <strong>Media:</strong>
  <%= @portfolio.media %>
</p>

  <%= cl_image_tag(“Link goes here”) %>
  <%= image_tag @portfolio.main_image %>
<%# <% end %>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
