<!DOCTYPE html>
<html>
  <head>
    <title> Oliver Cook | 3D Portfolio </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application','https://fonts.googleapis.com/css?family=Orbitron:400,800&display=swap', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src = "/js/jquery-3.4.1.js"/>
    <%= cloudinary_js_config %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


  </head>

  <body>
    <h1> Oliver  Cook |  3D Portfolio </h1>
    <header>
          <nav>

            <a href="<%= portfolios_path %>">Portfolio</a>
            |
            <a href="<%= pages_showreel_path %>">Showreel</a>
            |
            <a href="<%= pages_blog_path %>">Blog</a>
            |
            <a href="<%= pages_contact_path%>">Contact</a>
          </nav>
        </header>




      <hr>


    <%= yield %>
    <hr>
  <footer>
      &copy; Oliver Cook 3d.com 2020
    </footer>
  </body>
</html>
