<!DOCTYPE html>
<html>
  <head>
    <title> Oliver Cook | 3D Portfolio </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application','https://fonts.googleapis.com/css?family=Orbitron:400,800&display=swap', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src = "/js/jquery-3.4.1.js"/>
    <%= cloudinary_js_config %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


  </head>

  <body>
    <header>




          <nav>

            <ul>
              <li><a href="<%= portfolios_path %>">PORTFOLIO</a></li>

              <li><a href="<%= pages_showreel_path %>">SHOWREEL</a></li>

              <li><a href="<%= pages_blog_path %>">BLOG</a></li>

              <li><a href="<%= pages_contact_path%>">CONTACT</a></li>
            </ul>
<br>
            <div class = "name" >
            OLIVER COOK
            </div>

          <h3>  3d Artist </h3>

<br>


          </nav>
        </header>
<div  class = "hr2" >
        <hr>
</div>





    <%= yield %>
    <hr>
  <footer>
      &copy; Oliver Cook 3d.com 2020
    </footer>
  </body>
</html>
